node_modules/
package.json
package-lock.json
/docs/
/example/messages.js
/packages/loader-example/dist/bundle.js
/packages/messageformat/lib/*
/packages/messageformat/messageformat.*
/packages/parser/parser.js
/packages/runtime/lib/*
/packages/website/docs/
/test/browser/chai.js
