dist/
node_modules/
package.json
package-lock.json
/coverage/
/docs/
/examples/cli/*.mjs
/examples/react/
/packages/compiler/lib/*
/packages/core/lib/*
/packages/core/messageformat.*
/packages/date-skeleton/lib/*
/packages/messageformat/lib/*
/packages/number-skeleton/lib/*
/packages/parser/lib/*
/packages/react/lib/*
/packages/react/src/__fixtures__/*
/packages/rollup-plugin/lib/*
/packages/runtime/esm/*
/packages/runtime/lib/*
/packages/xliff/lib/*
/tmp/
