node_modules/
package.json
package-lock.json
/docs/
/example/messages.js
/packages/webpack-loader-example/dist/bundle.js
/packages/messageformat/lib/*
/packages/messageformat/messageformat.*
/packages/parser/parser.js
/packages/runtime/esm/*
/packages/runtime/lib/*
/packages/website/docs/
/test/browser/dist/
