dist/
package-lock.json
/coverage/
/docs/*
!/docs/*.md
/examples/cli/*.mjs
/packages/*/CHANGELOG.md
/packages/core/lib/
/packages/core/messageformat.*
/packages/date-skeleton/lib/
/packages/mf2-*/lib/
/packages/number-skeleton/lib/
/packages/parser/lib/
/packages/react/lib/
/packages/react/src/__fixtures__/
/packages/rollup-plugin/lib/
/packages/runtime/esm/
/packages/runtime/lib/
/test/messageformat-wg/
/tmp/
