<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React message formatting</title>
    <script src="../node_modules/react/umd/react.development.js"></script>
    <script src="../node_modules/react-dom/umd/react-dom.development.js"></script>
    <link rel="preload" as="script" href="messages-en-yaml.js">
  </head>
  <body></body>
</html>
